[submodule "vim/bundle/scss-syntax"]
	path = vim/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
